.emdev{
    width: 10rem;
    border: 30px solid transparent;
    border-radius: 500px;
    border-top: 30px solid rgba(0, 128, 0, 0.152) ;
    border-left: 30px solid rgba(0, 128, 0, 0.152) ;
    animation: rotate 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.emdev img{
    width: 10rem;
    animation: rotateContainer 2s linear infinite;
    transform: rotate(0deg);
}
@keyframes rotateContainer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.p{
    font-size: 25px;
    font-weight: bolder;
    color:white ;
}
.pD{
    font-size: 25px;
    font-weight: bolder;
    color: black;
}
.projetos{
    background-image: url(../../images/WhatsApp\ Image\ 2023-05-17\ at\ 17.56.03.jpeg);
    transition: 1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    height: 100vh;
}
.projetosD{
    background-image: url(../../images/WhatsApp\ Image\ 2023-05-17\ at\ 17.57.53.jpeg);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
    height: 100vh;
}
.linkPM,.linkPM2{
    position: relative;
    top: -27px;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    border-bottom: 0;
    transition: .5s;
}
.linkPM:hover,.linkPM2:hover{
    background-color: green;
    color: white;
}

.projetos h1{
    position: relative;
    font-size: 50px;
    transition: 1s;
    animation: pulsando .5s;
}

.projetosD h1{
    text-align: center;
    position: relative;
    font-size: 50px;
    color: white;
    transition: 1s;
    animation: pulsando .5s;
}

.Projeto1, .Projeto2,.Projeto3{
    width:300px;
    height: 400px;
    top: 30px;
    color: black;
    position: relative;
}
.Projeto1D, .Projeto2D,.Projeto3D{
    width: 300px;
    height: 400px;
    color: white;
    top: 30px;
    position: relative;
}
.meusProjetos{
    display: flex;
    position: relative;
    width: 95%;
    margin-top: 5rem;
    gap: 10rem;
    border: 1px solid;
}
.img1, .img2, .img3{
    border: 1px solid green;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    padding: 10px;
    cursor: pointer;
}
.descrisao1,.descrisao2,.descrisao3{
    position: absolute;
    width: 310px;
    top: 0;
    transition: .5s;
    font-size: 18px;
    opacity: 0;
    left: 8%;
}
.descrisao1true,.descrisao2true ,.descrisao3true{
    position: absolute;
    width: 310px;
    top:0;
    transition: .5s;
    transform: translateY(110%);
    border-top: 0;
    font-size: 18px;
    left: 8%;
}
.descrisao2true{
    top: -1rem;
}
.descrisao1true{
    top: 1.5rem;
}
.descrisao1true p,.descrisao2true p,.descrisao3true p{
    position: relative;
}
.LinkGit{
    display: flex;
    justify-content: space-around;
}
.LinkGit{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid green;
    border-radius: 15px;
    width: 190px;
    gap: 5px;
    color: green;
    position: relative;
    margin-top: 2rem;
}
.LinkGit span{
    font-size: 20px;
}
.LinkGit abbr{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    position: relative;
    top: 2px;
}
.LinkGit abbr:hover{
    transform: translateX(5px
    );
}
@media screen and (max-width: 720px){
    .projetos h1{
        top: -50px;
        left: 10px;
    }
    .projetosD h1{
        top: -50px;
        left: 10px;
    }
    .meusProjetos{
        flex-direction: column;
        top: 0px;
        gap: 0;
        justify-content: flex-end;
    }
    .Projeto1, .Projeto2,.Projeto3{
        width:330px;
        top: -60px;
        height: 160px;
        left: 25px;
        color: black;
        position: relative;
        display: flex;
    }
    .Projeto1D, .Projeto2D,.Projeto3D{
        width:330px;
        top: -60px;
        height: 160px;
        left: 25px;
        color: white;
        position: relative;
        display: flex;
    }
    .Projeto2{
        display: flex;
        justify-content:flex-end;
    }
    .Projeto2D{
        display: flex;
        justify-content:flex-end;
    }
    .img1, .img2, .img3{
        border: 1px solid green;
        padding: 0;
        width: 180px;
        height:110px;
        top: 0;
        cursor: pointer;
    }
    .descrisao1true,.descrisao3true{
        position: absolute;
        width: 150px;
        height: 230px;
        top: 0;
        transition: .5s;
        font-size: 12px;
        opacity: 100%;
        transform: translateX(157px);
        transition: 1s;
    }
    .descrisao2true{
        position: absolute;
        width: 150px;
        height: 230px;
        top: 0;
        transition: .5s;
        font-size: 12px;
        opacity: 100%;
        transform: translateX(-25px);
        transition: 1s;
    }
    .descrisao1,.descrisao3{
        position: absolute;
        width: 150px;
        height: 230px;
        top: 0;
        transition: 1s;
        font-size: 12px;
    }
    .descrisao2{
        position: absolute;
        width: 150px;
        height: 230px;
        top: 0;
        transition: 1s;
        font-size: 12px;
    }
    .linkPM{
        width: 140px;
        text-align: center;
        height: 20px;
        font-size: 15px;
        border: 1px solid;
        border-radius: 20px;
        background-color: transparent;
        position: relative;
        top: 120px;
        left: 3px;
        padding: 0;
    }
    .linkPM2{
        width: 140px;
        text-align: center;
        height: 20px;
        font-size: 15px;
        border: 1px solid;
        border-radius: 20px;
        background-color: transparent;
        position: relative;
        top: 120px;
        left: -36px;
        padding: 0;
    }
    .LinkGit{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .LinkGit span{
        font-size: 25px;
    }
    .LinkGit abbr{
        font-size: 25px;
    }
}